@import "tailwindcss";

@source "../**/*.{ts,tsx,html}";

/* Basic styles for React app */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: system-ui, -apple-system, sans-serif;
  }
}

@layer components {
	.form-confirmation p {
		@apply
      mb-4
      last:mb-0;
	}

	.form-confirmation h3 {
		@apply
      mt-6
      mb-3
      text-[1.15em]
      font-semibold;
	}
}
